:root {
  --logo-font: "Segoe UI", "Roboto", "Oxygen","Droid Sans", "Helvetica Neue",
  sans-serif;
  --header-font: "Raleway", sans-serif;
  --core-font: "Merriweather Sans", sans-serif;

  --ui-shawdow: 0 2px 4px -1px rgba(32, 20, 20, 0.06),
    0 4px 5px 0 rgba(15, 12, 12, 0.06), 0 1px 10px 0 rgba(14, 9, 9, 0.08);
  fill: rgba(46, 24, 24, 0);
  --ui-shawdow-border: 4px solid rgba(17, 14, 14, 0);
}

* {
  box-sizing: border-box;
}

.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; }


.social a {
  margin-right: 0.4rem; }

  .Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100%;
  
    border-radius: 1px;
    font-size: 1.2rem;
  
    overflow: hidden;
    background: white;
    padding: 10px;
  
    font-family: var(--logo-font);
  
    border-bottom: var(--ui-shawdow-border);
    box-shadow: var(--ui-shawdow);
  }

#showcase {
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

    .carousel-item {
      height: 100vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

@media (max-width: 800px) {
  .carousel-item, .carousel-item > img {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}


@media (min-width: 800px) {
  .carousel-item, .carousel-item > img {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}

@media (max-width: 400px) {
  .carousel-item, .carousel-item > img {
    height: 100vh;
    min-height: fit-content;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #showcase .overlay  {
    height: 90vh;
    max-height: fit-content;
    margin-top: 0px;
    padding-top: 0px;
  }
  button[type="submit"] {
    width: fit-content;
    text-align: center;
  }
  .form-group {
    width: auto;
  }
}
